htop
gconf
dconf
Google\ Play\ Music\ Desktop\ Player
google-chrome
VirtualBox
configstore
Blue\ Jeans
nautilus
pulse
gtk-3.0
Kingsoft
vlc
Trolltech.conf
QtProject.conf
Slack
yay
wireshark
menus
mimeapps.list
deepin
skypeforlinux
config/autostart