[submodule "zprezto"]
	path = zprezto
	url = https://github.com/arinal/prezto.git
[submodule "hammerspoon"]
	path = hammerspoon
	url = https://github.com/arinal/awesome-hammerspoon.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
